.head {
    color: salmon;
    background-color: beige;
    text-align: center;
}
.origami{
    background-color: steelblue;
    text-align: center;
}

.camel{
    border: solid;
    color: lawngreen;
}

.chameleon{
    border: solid;
    color: lawngreen;
}

.cicada{
    border: solid;
    color: lawngreen;
}

.panda{
    border: solid;
    color: lawngreen;
}

.pigeon{
    border: solid;
    color: lawngreen;
}

.teddy{
    border: solid;
    color: lawngreen;
}